<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>

<h1>Heroes</h1>
<% @heroes.each do |hero| %>
  <div class="hero">
    <p>Name: <%= hero.name %></p><br>
    <p>Power: <%= hero.power %></p><br>
    <p>Bio: <%= hero.bio %></p>
  </div><br>
<% end %>
