<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>

<h1>Hero Name: <%= @hero_name[0] %></h1>
  <p>Hero Power: <%= @hero_power[0] %></p>
  <p>Hero Biography: <%= @hero_bio[0] %> </p>

<h1>Hero Name</h1>
  <p>Hero Power: </p>
  <p>Hero Biography: </p>

<h1>Hero Name</h1>
    <p>Hero Power: </p>
    <p>Hero Biography: </p>
